---
import Btn from "./Btn.astro"

---
<nav class="flex gap-4 flex-wrap">
    Logo
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
    <Btn />
</nav>